header {
    background-color: var(--color-main-text);
    color: var(--color-main-background);
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
}

header > div {
    font-size: 1.5rem;
}

header a {
    color: var(--color-links-text);
    cursor: pointer;
    text-transform: uppercase;
}

header a:hover,
header a:focus {
    border-bottom: 1px solid var(--color-links-text);
}