header {
    background-color: var(--color-main-text);
    color: var(--color-main-background);
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
}

header > div {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

header a {
    color: var(--color-links-text);
    cursor: pointer;
    text-transform: uppercase;
    transition: all .2s ease;
}

header a:hover,
header a:focus {
    border-bottom: 1px solid var(--color-links-text);
}

header a.exit-btn:hover,
header a.exit-btn:focus {
    color: var(--color-red);
    border-color: var(--color-red);
}

header > .pages {
    gap: 0;
}

header > .pages > *:not(:last-child) {
    border-right: 1px solid var(--color-links-text);
}

header > .pages a {
    padding-inline: 1rem;
}

header > .pages a:hover,
header > .pages a:focus {
    background-color: var(--color-links-text);
    color: var(--color-main-text)
}