@import "assets/styles/checkbox.css";

:root {
  --color-gray: #a2a2a2;
  --color-black: #2b2b2b;
  --color-main-text: #A0C49D;
  --color-main-background: #F7FFE5;
  --color-links-text: #E1ECC8;
  --color-red: #d75d5d;

  --header-height: 70px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-main-background);
}

.content {
  margin-inline: auto;
  width: 100%;
  max-width: 1200px;
  min-height: calc(100vh - var(--header-height));
  padding: 16px;
  display: flex;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

a {
  text-decoration: none;
  color: var(--color-main-text);
}